{% extends "base.html" %}

{% block navbar %}
{% include 'nav.html' %}
{% endblock %}

{% block content %}
    <div class="row">
        {% if logs|length == 0 %}
        <div class="col-12">
            No lines today :(
        </div>
        {% else %}
        {% for line in logs %}
        <div class="col-12">
            {{ line }}
        </div>
        {% endfor %}
        {% endif %}
    </div>
{% endblock %}

{% block footer %}
   <script>
        jQuery.expr[':'].icontains = function(a, i, m) {
            return jQuery(a).text().toUpperCase().indexOf(m[3].toUpperCase()) >= 0;
        };

        $(window).on('load', function () {
			if ('{{ts}}' !== 'None') {
				$('html, body').animate({ scrollTop: $($('div.col-12:contains("{{ts}}")').filter(':icontains("quote")')[0]).offset().top - $(window).height()/2}, 'fast');
                
                var fspeed = 200;
                for (i = 0; i <= 3; i++) {
                    $($('div.col-12:contains("{{ts}}")').filter(':icontains("quote")')[0]).fadeOut(fspeed).fadeIn(fspeed);
                  }
			}
        });
    </script> 
{% endblock %}
