{% extends "base.html" %}

{% block navbar %}
{% endblock %}

{% block content %}
    <div class="row">
        {% if logs|length == 0 %}
        <div class="col-12">
            No lines today :(
        </div>
        {% else %}
        {% for line in logs %}
        <div class="col-12">
            {{ line }}
        </div>
        {% endfor %}
        {% endif %}
    </div>
{% endblock %}

{% block footer %}
   <script>
        $(window).on('load', function () {
			if ('{{ts}}' !== 'undefined') {
				$('html, body').animate({ scrollTop: $($('div:contains("{{ts}}")')[2]).offset().top - $(window).height()/2}, 'fast');
                
                var fspeed = 200;
                for (i = 0; i <= 3; i++) {
                    $($('div:contains("{{ts}}")')[2]).fadeOut(fspeed).fadeIn(fspeed);
                  }
			}
        });
    </script> 
{% endblock %}
