{% extends "base.html" %}

{% block navbar %}
{% include 'nav.html' %}
{% endblock %}

{% block content %}
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-12">
			<form class="form-inline" action="" method="POST">
                {{ form.hidden_tag() }}
                {% if query %}
				<input class="form-control form-control-sm ml-3" style="width: 85%;" type="text" name="search" placeholder="#channel @user +text to include -text to exclude" value="{{ query }}" aria-label="Search">
				{% else %}
                <input class="form-control form-control-sm ml-3" style="width: 85%;" type="text" name="search" placeholder="#channel @user +text to include -text to exclude" aria-label="Search">
				{% endif %}
                <button type=submit class="btn btn-primary search-btn"><i class="fas fa-search" aria-hidden="true"></i></button>

                {% for error in form.search.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
			</form>
        </div>
    </div>
	{% if logs|length != 0 %}
	<div class="row">
        <div class="col-12">
        	<table class="w-100">
				<thead>
				</thead>
                <tbody>
                    {% for line in logs %}
                    <tr>
                        <td style="white-space: nowrap;">{{ line.chan }}</td>
                        <td style="word-break: break-word;">{{ line.msg }}</td>
                        <td style="white-space: nowrap;"><a href={{ line.link }}>Link</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
			</table>
		</div>
	</div>
	{% endif %}
{% endblock %}

{% block footer %}
   <script>
    </script> 
{% endblock %}
